/* Universal Styles  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D2D6EF;
    --secondary-color: #4B5358;
    --tertiary-color: #727072;
  }

  body {
      font-family:'Karla', sans-serif;
  }

  .container{
      position: relative;
      /* max-width:1800px; */
      /* margin: 0 auto; */
  }

  h1, h2, .header--logo {
      font-size: 3rem;
      text-align: center;
      padding: 15px;
      text-shadow: 2px 2px #000;
  }

  a{
    text-decoration: none;
    color: var(--primary-color);
}

img{
    max-width: 100%;
}


.flex{
    max-width: 80%;
    display: flex;

    justify-content: space-between;
    gap: 40px;
    margin: 0 auto;
}

.flex--image{
    width:55%;
}
.flex--content{
    width:45%;
}


  /* End Universal Styles */

  /*header styles */
  
  header {
      background: #104547;
      color: var(--primary-color);
  }
  header .container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
  }

  header nav {
      height: 80px;
      padding: 0 30px;
      max-width: 1100px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  }

  header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    font-size: 2rem;
  }

  header nav ul:hover{
      text-shadow: 2px 2px #000;
  }


  /* end header styles */

  /* Hero styles */
.hero {
    background-image:
    linear-gradient(to bottom, rgba(40, 40, 44, 0.30), rgba(212, 245, 228, 0.50)),
     url(../images/image-1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero h1 {
    color: #104547;
    font-size: 5rem;
    text-shadow: 3px 3px #000;
    opacity: 100%;
}

  /*end Hero styles */

  /* about me section */

.about-me {
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    color: var(--secondary-color);
    padding: 50px;

}




  /*End about me */

  /*Portfolio Section*/
  .portfolio {
    background: var(--secondary-color);
    padding: 20px;
  }

  .portfolio h1{
      color: var(--primary-color);
  }

  .portfolio img {
      height: 100%;
      width: 100%;
  }

  .portfolio--grid {
      display: grid;
      flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      gap: 20px;
  }

.portfolio--grid .grid--item--large {
    grid-column-end: span 3;
}

.portfolio--grid .grid--item--medium {
   grid-column-end: span 2;
}

  .portfolio--grid a {
      display: flex;
      position: relative;
      height: 30vw;
      min-height: 150px;
      align-items: flex-end;
  }

  .portfolio--grid a img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }

  .portfolio--info{ 
      z-index: 10;
      position: relative;
      color: var(--primary-color);
      background-color: var(--secondary-color);
      margin: 10px 0;
      padding: 20px;
     text-align: left;

  }

  .portfolio a:hover img{
      opacity: 20%;
  }



  /* end portfolio */

  /* contact styling */

  .contact {
      color: var(--secondary-color);
      background: url(../assets/images/image-3.jpg);
      background-position: center;
      background-size: cover;
      padding: 30px 0;
  }



  .container--contact {
      background: var(--tertiary-color);
      color: var(--primary-color);
      text-align: center;
      width: 50%;
      margin:  auto;
      padding: 30px;
      border: solid var(--secondary-color);
      border-radius: 10px;
      opacity: 97%;
  }

.container--contact label {
    display: block;
    margin: 20px;
    font-size: 1.5rem;
}

  .container--contact input {
      padding: 1rem;
      width: 100%;

  }

.container--contact .message {
    height: 10rem;
}


  .container--contact button {
      padding: 1rem 8rem;
      background: var(--primary-color);
      color: var(--secondary-color);
      border: none;
      width: 100%;
      font-size: 2rem;
      border-radius: 0 0 10px 10px;
  }

  button:hover{
      background: #104547;
      color: var(--primary-color);
  }
  /*End contact styling */

/* footer */
footer {
    background: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

footer h4 {
    flex: 3 1 40rem;
}

footer ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

/*Media Queries*/

@media screen and (max-width: 850px) {
    /* Global */
    .flex {
        flex-wrap: wrap;
    }
    .flex--image, .flex--content {
        width: 100%;
    }

    /*navigation */

nav a {
    font-size: 1.5rem;
}

nav h1 a{
    font-size: 50px;
}
/*about me*/
.about-me {
    height: 100%;
}

.about-me p {
    width: 100%;;
    margin-bottom: 25px;
}

/*portfolio */
.portfolio--grid {
    display:flex;
    flex-direction: column;
  }

  /*contact */

.container--contact {
    width: 80%;
}


}

@media screen and (max-width: 640px){
/*navigation*/

.header--logo {
    font-size: 50px;
    width: 100%
}

nav {
    margin:  auto;
}

nav ul li{
    margin:5px 0px;
}

nav ul li a {
    font-size: 25px;
}

footer h4{
    text-align: center;
    margin-bottom: 15px;
}

}
