/* Universal Styles  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #D2D6EF;
    --secondary-color: #4B5358;
    --tertiary-color: #727072;
  }

  a{
      text-decoration: none;
      color: var(--primary-color);
  }
  
  body {
      font-family:'Karla', sans-serif;
  }

  h1 {
      font-size: 3rem;
      text-align: center;
      padding: 15px;
      text-shadow: 2px 2px #000;
  }

  /* End Universal Styles */

  /*header styles */
  
  header {
      background: #104547;
      color: var(--primary-color);
      display: flex;
      flex-wrap: wrap;
  }

  header nav {
      min-height: 10vh;
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 2rem;
  }

  header nav ul:hover{
      text-shadow: 2px 2px #000;
  }


  /* end header styles */

  /* Hero styles */
.hero {
    background-image:
    linear-gradient(to bottom, rgba(40, 40, 44, 0.30), rgba(212, 245, 228, 0.50)),
     url(../images/image-1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero h1 {
    color: #104547;
    font-size: 5rem;
    text-shadow: 3px 3px #000;
    opacity: 100%;
}

  /*end Hero styles */

  /* about me section */

.about-me {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    height: 100vh;
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.about-me h1 {
    width: 100%;
}

.about-me p {
    width: 45%;
    margin: 10px;
}

.about-me img{
    width: 500px;
    height: 500px;
    margin: 10px;
}




  /*End about me */

  /*Portfolio Section*/
  .portfolio {
    background: var(--secondary-color);
  }

  .portfolio h1{
      color: var(--primary-color);
  }

  .portfolio img {
      height: 100%;
      width: 100%;
  }

  .images {
      display: grid;
      min-height: 100vh;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;

  }

  .text-block {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;

  }


  .portfolio1 {
      grid-column:1/3 ;
      position: relative;
  }

  .text-block1 {
      position: absolute;
  }

  .portfolio2 {
    grid-column: 3/4;
    position: relative;
  }

  .text-block2 {
      position: absolute;
  }

  .portfolio3 {
      grid-column: 1/2;
  }

  .portfolio4 {
      grid-column: 2/4;
  }

  .images a {
      margin: 20px;
  }

  .portfolio a:hover{
      opacity: 20%;
  }



  /* end portfolio */

  /* contact styling */

  .contact {
      color: var(--secondary-color);
      background: url(/assets/images/image-3.jpg);
      background-position: center;
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }

  .contact h1 {
      width: 100%;
  }

  .form-container {
      background: var(--tertiary-color);
      color: var(--primary-color);
      text-align: center;
      width: 50%;
      border: solid var(--secondary-color);
      border-radius: 10px;
      opacity: 97%;
  }

.form-container label {
    display: block;
    margin: 20px;
    font-size: 1.5rem;
}

  .form-container input {
      padding: 1rem;
      width: 100%;

  }

.message {
    height: 10rem;
}


  .form-container button {
      padding: 1rem 8rem;
      background: var(--primary-color);
      color: var(--secondary-color);
      border: none;
      width: 100%;
      font-size: 2rem;
      border-radius: 0 0 10px 10px;
  }

  button:hover{
      background: #104547;
      color: var(--primary-color);
  }
  /*End contact styling */

/* footer */
footer {
    background: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

footer h4 {
    flex: 3 1 40rem;
}

footer ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 850px) {

    /*navigation */
nav a {
    font-size: 1.5rem;
}

nav h1 a{
    font-size: 50px;
}
/*about me*/
.about-me {
    height: 100%;
}

.about-me p {
    width: 100%;;
    margin-bottom: 25px;
}

/*portfolio */
.images {
    display:flex;
    flex-direction: column;
  }

  /*contact */

  .contact {
    height: 100vh;
}

.form-container{
    width: 80%;
}


}

@media screen and (max-width: 640px){
/*navigation*/
    nav h1 a{
    font-size: 50px;
}

nav h1 {
    width: 100%;
}

nav ul li{
    margin:5px 50px;
}

nav ul li a {
    font-size: 25px;
}

footer h4{
    text-align: center;
    margin-bottom: 15px;
}

}